@import "../styles/shared.scss";

.container {
    justify-content: flex-start;
    max-height: 92vh;
    overflow-y: auto;

    .titulo {
        display: flex;
        align-items: center;
        margin-top: 65px;
        @include titulo;
    }

    .texto {
        padding: 5%;

        font-size: 1.3rem;
        line-height: 30px;
        text-shadow: 1px 1px 1px black;

        a {
            color: rgb(103, 141, 199);
            text-decoration: underline;
        }

        p {
            margin-bottom: 15px;
        }
    }
}

@media screen and (max-width: 600px) {
    .container {
        overflow-y: auto;
        height: 100vh;
    }
    .texto {
        margin-bottom: 100px;
    }
}