<div class="container">
  <div class="titulo">
    <p>Sobre mim</p>
  </div>
  <div class="texto">
    <p>Trabalho como desenvolvedor web na <a href="https://dbserver.com.br/">DBServer</a>,
       utilizo atualmente em meu serviço tecnologias como Angular, JavaEE, Docker e OracleDB para desenvolvimento. 
      Possuo também experiência de trabalho com metodologias ágeis como Scrum e Kanban. </p>
    <p>Estou cursando o 4º semestre de engenharia de computação na Pontifícia Universidade Católica do Rio Grande do Sul.</p>
    <p>Tenho bastante experiência com Angular, Node.js, Git, SQL, Javascript, C/C++, Typescript, Sass, Jest, CSS3, HTML5 e certa experiência com Java e frameworks como EJB, JPA, Hibernate, JAX-RS, Liquibase, Junit, Cucumber, Mockito. Além disso possuo ingles fluente.</p>
    <p>Sempre me interessei por computadores e tive a oportunidade de começar a programar no ensino médio,
       em competições de robótica utilizando o microcontrolador Arduino e a linguagem C.
        Desde então tenho me aprofundado cada vez mais no mundo da programação.</p>
  </div>
</div>