<div class="container">
  <div class="card">
    <p class="img-card"> 
    </p>
    <div class="texts">
      <h1>Entre em contato:</h1>
      <div class="items">
        <a href="mailto:vitor2001bidi@gmail.com"><i class="fa fa-envelope"></i> Me mande um Email</a>
        <a href="https://www.linkedin.com/in/vitor-isaac-sitton-maia-11b240174/" title="linkedin">
          <i class="fa fa-linkedin"></i> Conecte-se no LinkedIn
        </a>
        <a><i class="fa fa-whatsapp"></i>(51) 9 95421505</a>
      </div>
    </div>
  </div>
</div>