.img-card {
    background-image: url("../../assets/myself.jpg");
    background-size: cover;
    width: 200px;
    height: 200px;
    border-radius: 150px;
    border: 1px solid white;
    box-shadow: white 0px 0px 12px;
}