<div class="main-page">
  <div class="bg-style">
    <nav>
      <div class="menu-holder">
        <div class="menu" (click)="hideMenu = !hideMenu">
          <i class="fa fa-bars"></i>
        </div>
        <ul [class.hide-menu]="hideMenu" [class.show-menu]="!hideMenu" class="navbar">
          <li>
            <button routerLink="/home">
              Home
            </button>
          </li>
          <li>
            <button routerLink="/sobre">
              Sobre mim
            </button>
          </li>
          <li>
            <button routerLink="/projetos">
              Projetos
            </button>
          </li>
          <li>
            <button routerLink="/contato">
              Contato
            </button>
          </li>
        </ul>
      </div>
      <ul class="icon-links">
        <li>
          <a href="https://github.com/VitorIsaacSM" title="github">
            <i class="fa fa-github"></i>
          </a>
        </li>
        <li >
          <a href="https://www.linkedin.com/in/vitor-isaac-sitton-maia-11b240174/" title="linkedin">
            <i class="fa fa-linkedin"></i>
          </a>
        </li>
      </ul>
    </nav>
    <router-outlet></router-outlet>
  </div>
</div>

