<div class="card" 
    (mouseenter)="changeDisplayTo(projeto.gif)"
    (mouseleave)="changeDisplayTo(projeto.imagem)">
  <div class="titulo">
    <img [src]="display" [alt]="projeto?.imagem" width="380">
    <p>{{projeto?.titulo}}</p>
  </div>
  <div class="spec">
    <div class="desc">
      <p>{{projeto?.descricao}}</p>
    </div>
    <div class="inline-items">
      <div class="item" *ngIf="projeto.repoLink">
        <div class="badge" (click)="redirectTo(projeto.repoLink)">
          Repositório
        </div>
      </div>
      <div class="item" *ngIf="projeto.websiteLink">
        <div class="badge" (click)="redirectTo(projeto.websiteLink)">
          Website
        </div>
      </div>
      <div class="item" *ngIf="projeto.download">
        <div class="badge" (click)="redirectTo(projeto.download)">
          Download
        </div>
      </div>
    </div>

    <div>
      <p>O que foi utilizado:</p>
      <div class="inline-items">
        <div class="item" *ngFor="let item of projeto?.utilizado">
          <div class="badge-alt">
            {{item}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>