@import "../../styles/shared.scss";
@import "../../styles/animations.scss";

.card {
    @include card-animation(1s);

    .titulo {
        text-align: center;
        margin-right: 2%;

        img {
            height: 180px;
        }

        p {
            margin-top: 2%;
        }
    }

    .spec {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        .desc {
            line-height: 25px;
        }

        .inline-items {
            display: flex;
            flex-wrap: wrap;
            width: 100%;

            .item {
                margin-right: 10px;

                .badge {
                    cursor: pointer;
                }
            }
        }
    }
}

p {
    font-size: 1.4rem;
    margin-bottom: 8px;
}

@media screen and (max-width: 600px) {
    img {
        width: 100%;
    }
}

