@import "../styles/animations.scss";
@import "../styles/shared.scss";


.container {
    text-shadow: 3px 3px 3px black;

    @include load(1.5s);

    .nome {
        padding: 15px;
        font-size: 4rem;
    }

    .sub-text {
        font-size: 2rem;
        padding: 10px;
    }
}