@import "../styles/animations.scss";


.container {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-shadow: 3px 3px 3px black;
    color: white;

    @include load(1.5s);

    .nome {
        padding: 15px;
        font-size: 4rem;
    }

    .sub-text {
        font-size: 2rem;
        padding: 10px;
    }
}