@import "../styles/animations.scss";
@import "../styles/shared.scss";


.container {
    @include titulo;
    min-height: 80vh;

    .nome {
        padding: 15px;
        font-size: 4rem;
    }

    .sub-text {
        font-size: 2rem;
        padding: 10px;
    }
}